<!DOCTYPE HTML>
<html>
<html lang="en">

<head>
    <title>TITLE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">


    <!-- Font -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


    <!-- Stylesheets -->

    <link href="/stylesheets/common-css/bootstrap.css" rel="stylesheet">

    <link href="/stylesheets/common-css/ionicons.css" rel="stylesheet">


    <link href="/stylesheets/layout-1/css/styles.css" rel="stylesheet">

    <link href="/stylesheets/layout-1/css/responsive.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/css/animate.css">

    <link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/css/magnific-popup.css">

    <link rel="stylesheet" href="/stylesheets/css/aos.css">

    <link rel="stylesheet" href="/stylesheets/css/ionicons.min.css">

    <link rel="stylesheet" href="/stylesheets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/stylesheets/css/jquery.timepicker.css">


    <link rel="stylesheet" href="/stylesheets/css/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/css/icomoon.css">
    <link rel="stylesheet" href="/stylesheets/css/style.css">

    <style>
        .comment-wrapper .panel-body {
            max-height: 650px;
            overflow: auto;
        }

        .comment-wrapper .media-list .media img {
            width: 64px;
            height: 64px;
            border: 2px solid #e5e7e8;
        }

        .comment-wrapper .media-list .media {
            border-bottom: 1px dashed #efefef;
            margin-bottom: 25px;
        }
    </style>



</head>
<title>TITLE</title>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <font color="#FCF0E8  ">NARI</font>
            </a>
            <a>
                <font color="white">We Celebrate Womanhood</font>
            </a>



            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/" class="nav-link">HOME</a></li>
                    <li class="nav-item active"><a href="/blog" class="nav-link">BLOGS</a></li>
                    <li class="nav-item"><a href="/ask" class="nav-link">ASK ME</a></li>

                    <li class="nav-item"><a href="/exercise" class="nav-link">EXERCISE</a></li>

                    <li class="nav-item"><a href="/gyno" class="nav-link">GYNECOLOGIST</a></li>
                    <li class="nav-item cta"><a href="/logout" class="nav-link"><span>LOG OUT</span></a></li>
                </ul>
            </div>
        </div>
    </nav>


    <section class="ftco-section-parallax">
        <div class="parallax-img d-flex align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                        <h2><%= blog.title%></h2>
                        <p>
                            <h5>Usually women experience symptoms through ages 40-50.</h5>
                        </p>
                        <div class="row d-flex justify-content-center mt-5">
                            <div class="col-md-6">
                                <h5>
                                    <font color="white">Author: <%= blog.name%> </font>
                                </h5>
                                <h6>
                                    <font color="white"><%= blog.date%>
                                </h6>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div>
                    <p><%- blog.blog %></p>

                    <hr>
                    </li>
                    </ul>
                    </li>
                    <hr>
                    <div>
                        <div>
                            <h3 class="mb-5">Leave a comment</h3>
                            <div class="row bootstrap snippets">
                                <div style="width: 100%;">
                                    <div class="comment-wrapper">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                Comment panel
                                            </div>
                                            <div class="panel-body">
                                                <form method="POST" action="/bcomment">
                                                    <input type="hidden" name="_id" value="<%= blog._id%>" />

                                                    <textarea class="form-control" placeholder="write a comment..."
                                                        name="comment" rows="3"></textarea>
                                                    <br>
                                                    <input type="submit" class="btn btn-info pull-right" value="POST"
                                                        style="background-color: indianred;">
                                                    <div class="clearfix"></div>
                                                    <hr>
                                                </form>


                                                <ul class="comments-list" style="margin-left:3%; margin-right: 3%;">
                                                    <% comment.forEach(function(comment) { %>
                                                    <hr>
                                                    <div class="media-body">
                                                        <span class="text-muted pull-right">
                                                            <small class="text-muted"><%= comment.date%></small>
                                                        </span>
                                                        <strong style="color:pink ;">@<%=comment.username%></strong>
                                                        <p>
                                                            <%= comment.comment%>
                                                        </p>
                                                    </div>



                                                    <%})%>
                                                </ul>


                                            </div>
                                        </div>
                                        <hr>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- .col-md-8 -->
                <div class="col-md-4 sidebar ftco-animate order-first">
                    <div class="sidebar-box">

                    </div>



                </div>
            </div>
    </section> <!-- .section -->





    <footer>

        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">

                </div><!-- col-lg-4 col-md-6 -->

                <div class="col-lg-4 col-md-6">
                    <div class="footer-section">
                        <h5 class="title">ALL RIGHTS RESERVED © 2019 nari</h5>
                        <!-- <ul>
							<li><a href="#">BEAUTY</a></li>
							<li><a href="#">HEALTH</a></li>
							<li><a href="#">MUSIC</a></li>
						</ul>
						<ul>
							<li><a href="#">SPORT</a></li>
							<li><a href="#">DESIGN</a></li>
							<li><a href="#">TRAVEL</a></li>
						</ul> -->
                    </div><!-- footer-section -->
                </div><!-- col-lg-4 col-md-6 -->


            </div><!-- footer-section -->
        </div><!-- col-lg-4 col-md-6 -->

        </div><!-- row -->
        </div><!-- container -->
    </footer>


    <!-- SCIPTS -->

    <script src="/javascripts/common-js/jquery-3.1.1.min.js"></script>

    <script src="/javascripts/common-js/tether.min.js"></script>

    <script src="/javascripts/common-js/bootstrap.js"></script>

    <script src="/javascripts/common-js/scripts.js"></script>

    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00" /></svg></div>


    <script src="/javascripts/js/js/jquery.min.js"></script>
    <script src="/javascripts/js/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/javascripts/js/js/popper.min.js"></script>
    <script src="/javascripts/js/js/bootstrap.min.js"></script>
    <script src="/javascripts/js/js/jquery.easing.1.3.js"></script>
    <script src="/javascripts/js/js/jquery.waypoints.min.js"></script>
    <script src="/javascripts/js/js/jquery.stellar.min.js"></script>
    <script src="/javascripts/js/js/owl.carousel.min.js"></script>
    <script src="/javascripts/js/js/jquery.magnific-popup.min.js"></script>
    <script src="/javascripts/js/js/aos.js"></script>
    <script src="/javascripts/js/js/jquery.animateNumber.min.js"></script>
    <script src="/javascripts/js/js/bootstrap-datepicker.js"></script>
    <!--     <script src="js/jquery.timepicker.min.js"></script>
 -->
    <script src="/javascripts/js/js/particles.min.js"></script>
    <script src="/javascripts/js/js/particle.js"></script>
    <script src="/javascripts/js/js/scrollax.min.js"></script>
    <!-- <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script> -->
    <script src="/javascripts/js/js/main.js"></script>
</body>

</html>